@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&subset=cyrillic,cyrillic-ext');

body{
  padding: 0px;
  margin: 0px;
  background: #e8ebf5;/**/
  /*background: #222;/* experementing with dark colors*/
  font-size: 14px;
  font-weight: normal;
  color: #333;
  -webkit-text-size-adjust: none;
  font-family: 'Roboto Condensed', sans-serif;
}
/* ## CONFIG ## */
a {
  color: #0397D6;
  text-decoration: none !important;
  outline: none;
  -moz-outline: none;
  font-family: 'Roboto Condensed', sans-serif;
}
a:visited{text-decoration: none;}
a:hover, a:active{color: #069aD9}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

input{line-height: normal}

button, input, optgroup, select, textarea{
  margin: 0;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}
.text-center {text-align: center}
.btn{font-weight: 300;} /* correct bootstrap abit /**/

/* ## END_Config ##*/
.everything{
  position: relative;
  min-height: 800px;
  padding-top: 70px;
}

header{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fff;/**/
  /*background: rba(0,0,0,0.7);/**/
  height: 70px !important;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;/**/
}
header > .container{
  height: 70px;
}
/**/

.logo{
  margin-top: 7px;
  position: relative;
  float: left;
  margin-right: 50px;
}

#logo{
  background-image: url('../images/logo.png');
  background-position: 50% 25%;
  background-size: cover;
  width: 150px;
  height: 49px;
  display: inline-block;
}

.logo:after{
  background: #eee none repeat scroll 0 0;
  content: "";
  display: inline-block;
  height: 45px;
  position: absolute;
  right: -30px;
  top: 5px;
  width: 1px;
}

.h-menu{
  float: left;
}

.h-menu ul.topmenu{
  list-style: none;
  padding: 0;
}
.h-menu ul.top-menu li{
  display: inline-block;
  float: left;
  margin: 0 5px;
}
.h-menu ul.top-menu li a {
  height: 70px;
  line-height: 70px;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  color:#333;/**/
  /*color: #fff;/**/
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.h-menu ul.top-menu > li:hover > a{
  color: #0397D6;
}

.h-menu ul.top-menu li.active a {
  /*border-bottom: 2px solid #0397d6;/**/
  box-shadow: 0 3px 2px -2px #0397d6;
}

.top-menu .dropdown .dropdown-menu > li{
  width: 100%;
  position: relative;
  left: -5px;
}
.top-menu .dropdown .dropdown-menu > li > a{
  display: block;
  clear: both;
  font-weight: normal;
  padding-top: 0px; /* otherways bootsrap fucks it up and pushes it little bit down so it's not in the middle*/
  line-height: 1.42857143;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  color:#333;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: none;
}
.top-menu .dropdown .dropdown-menu li:hover a{
  color: #fff;
  background: #0397D6;
}

.h-search{
  width: 230px;
  float:right;
  /*margin-top:15px;
  margin-right: 20px;/**/
  margin:15px 20px;
}
.h-search input.search-input {
  padding-right: 10px;
  box-shadow: none;
}
.h-search .search-submit {
  cursor: pointer;
  font-size: 16px;
  top: -27px;
  left: 194px;
  height: 34px;
  width: 34px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.form-control{
  display: block;
  padding: 6px 12px;
  font-size: 12px;
  background:#fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.h-profile{
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  color: #000;
}
.h-profile:hover, .h-profile:active {
  color: #000;
}

#pop-login .modal-dialog, #pop-register .modal-dialog, #pop-forgot .modal-dialog {
    width: 430px;
}
.h-profile .avatar{
  margin-left: 10px;
  position: relative;
  padding-right: 20px;
  display: inline-block;
  overflow: hidden;
}
.h-profile .avatar img{
  width: 32px;
  border-radius: 50%;
}
.notify i{
  font-size: 24px;
  color: #000;
  margin-top:-5px;
}

/* .btn se repeta in bootstrap */
.h-btn{
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
}


/* SLIDER */
.top-content{
  margin-bottom: 30px;
}
#slider {
  height: 320px;
  overflow: hidden;
  position: relative;
  display: block;
  padding-right: 0;
  width: 100%;
}
#slider > .carousel-inner > .item {
  background-position: 50% 25%;
  background-size: cover;
  width: 100% !important;
  overflow: hidden;
}
#slider > .carousel-control{
  cursor: pointer;
  display: block;
  font-size: 26px;
  position: absolute;
  top: 30%;
  width: 50px;
  height: 80px;
  margin: 20px;
  background: rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  transition: background-color .11s linear , opacity .11s linear;
}
#slider > .carousel-control:hover{
  background: rgba(0,0,0,0.5);
}
/**/
#slider > .carousel-control > i{
  position: absolute;
  top:28px;
  left: 7px;
}
/**/
.slider-dam{
  background: #fff;
  text-align: left;
  padding: 15px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  position: relative;
  top: -32px;
}
/* SLIDER */

.content{
  padding:0;
}

.m-title {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.m-title span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0px;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background: #0397D6;
  color: #fff;
  border-radius: 3px;
}
.m-title span i{
  margin-left: 10px !important;
}

.item-list{
  display: block;
  margin: 0 -1%;
  padding: 5px;
}

.item-list .m-item {
  width: 10.5%;
  margin: 1%;
  border-radius: 5px;
  float: left;
  position: relative;
  height: 200px;
  overflow: hidden;
  background: #000;
}
.item-list .m-item .m-mask {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: #ddd;/* add picure (no img or loading..)*/
}/**/
.item-list .m-item .m-mask:before{
  content: "";
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.item-list .m-item .m-mask:hover:before{
  opacity: 1;
  transition: opacity 0.4s;
}
.item-list .m-item .m-mask:after{
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../images/btn-overlay.png);
  background-position: 50% 25%;
  background-size: cover;
  opacity: 0;
  position:
  absolute;
  top: 50%;
  left: 50%;
  margin-top: -27.5px;
  margin-left: -27.5px;
}
.item-list .m-item .m-mask:hover:after{
  opacity: 1;
}

.item-list .m-item .m-mask img{
  display: inline-block;
}
.item-list .m-item .mli-thumb {
  width: 100%;
  height: 100%;
}
.item-list .m-item .m-mask .mli-eps {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  padding-top: 8px;
  text-align: center;
  height: 40px;
  border-radius: 50%;
  background: rgba(3,151,214,0.9);
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1em;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.item-list .m-item .m-mask .mli-eps i {
  display: block;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  margin-top: 3px;
}
.item-list .m-item .m-mask .mli-quality {
  background: #FED700;
  border-radius: 3px;
  color: #222;
  font-size: 12px;
  text-transform: uppercase;
  height: auto;
  line-height: 12px;
  padding: 4px 6px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: auto;
  z-index: 4;
}
.item-list .m-item  .mli-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  background: url(../images/mask-title.png) top repeat-x;
  z-index: 5;
  border-radius: 0 0 5px 5px;
}
.item-list .m-item .mli-info h2 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  text-align: center;
  color: #fff;
  /*text-shadow: 0 0 2px rgba(0,0,0,0.6);*/
}

.pagination {
  text-align: center;
  width: 100%;
}
.pagination ul{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination ul li{
  display: inline;
}
.pagination ul > li > a {
  margin: 0 5px;
  border-radius: 3px;
}
.pagination ul > li > a, .pagination ul > li > span{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-weight: 500;
}
.pagination ul > .active > a, .pagination ul > .active > a:focus, .pagination ul > .active > a:hover, .pagination ul > .active > span, .pagination ul > .active > span:focus, .pagination ul > .active > span:hover {
  background: #02a5e4;
  border: none;
  color:#fff;
}
.sitebar .breadcrumb{background: none; padding: 0;color:#333;font-weight: 300;}

/*.sitebar*/
.news-block .news-content{
  width:800px;
  float: left;
  min-height: 300px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
  font-weight: 300;
}
.news-block .news-content h1{
  font-weight: 500;
  font-size: 25px;
}
.news-block .news-content p{
  font-size: 14px;
  font-weight: 300;
}
.news-content .n-thumb {
  height: 250px;
  overflow: hidden;
  background-position: 50% 25%;
  background-size: cover;
  margin: -20px -20px 20px;
}
.news-block .news-sidebar{
  width: 300px;
  float: right;
  min-height: 300px;
  outline: 0px solid red; /*get rid of this shit man*/
}
.news-block .box{
  background: #fff;
  display: block;
  overflow: hidden;
}
.news-block .box > .box-head{
  background: #2C3549; /* same with footer OR later you could replace it to something lighter, check websites for colors/**/
  padding: 10px 20px;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  color: #fff;
  text-transform: capitalize;
}
.news-block .box > .box-content{
  padding: 10px;
}

footer{
  background: #2C3549;
  color:#fff;
  padding:20px;
}
footer h4{
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}
footer p{
  font-size: 14px;
  font-family: sans-serif;
}
footer .subscribe-input{
  width: 65%;
}
footer .subscribe-submit{
  width: 30%;
}
footer .disclaimer{
  font-size: 12px;
  color:#bfbfbf;
}

.f-list{
  float: left;
  margin-right: 60px;
}
.footer-menu{
  list-style: none;
  padding: 0;
}

.footer-menu li a{
  margin: 0;display: inline-block;
  color:#bfbfbf;
  font-family: sans-serif;
  margin: 5px 0;
}
.footer-menu li a:hover{
  color:#fff;
}

.logo-footer {
  width: 240px;
  margin-bottom: 20px;
}
